messenger_access_token = "APP_MESSENGER_ACCESS_TOKEN" #to send messages over messenger
page_access_token = "PAGE_ACCESS_TOKEN" #to publish posts to page
db_path = "/path/to/your/database.sqlite3"

home_folder = "/path/to/where/this/repository/is/saved"

#certificates for httprequesthandler
certfile='/etc/letsencrypt/archive/domain/cert.pem',
keyfile='/etc/letsencrypt/archive/domain/privkey.pem',
ca_certs='/etc/letsencrypt/archive/domain/chain.pem',
